In [18]:
import pandas as pd

In [19]:
df_hh = pd.read_csv("../data/derived/kita_data_hamburg.csv", index_col=[0])

In [20]:
df_hh.head(100)

,kita_name,kita_address,kita_spots
0,kindertagesstätte `die zipfelmützen´,"20097 Hamburg, Friesenstraße 13",94
1,kindertagesstätte ´city süd rabauken`,"20097 Hamburg, Friesenstraße 1",80
2,kinderzimmer city süd,"20097 Hamburg, Amsinckstraße 61",100
3,bilinguale kindertagesstätte phorminis hamburg,"20097 Hamburg, Wendenstraße 35-43",100
4,kinderzimmer hammerbrook,"20097 Hamburg, Hammerbrookstraße 63-65",0
...,...,...,...
95,kinderhaus stenvort,"20257 Hamburg, Stenvort 2",60
96,krippe minimeter,"20257 Hamburg, Langenfelder Damm 41",18
97,kita in der schule eduardstraße,"20257 Hamburg, Eduardstraße 28","<a href=""../hamburg/20257/lappenbergsallee8.ph..."
98,kinderhaus fledermaus,"20257 Hamburg, Lappenbergsallee 8",40
99,kinderladen prickelkids,"20257 Hamburg, Bei der Apostelkirche 12",25

In [21]:
#from geopy.geocoders import Nominatim
#geolocator = Nominatim(user_agent="testhh")

#from geopy.extra.rate_limiter import RateLimiter
#geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
#df_hh['location'] = df_hh['kita_address'].apply(geocode)

In [22]:
kita_list = list(df_hh.kita_address)
plz = [x[:5] for x in kita_list]

df_hh["plz"] = plz

import numpy as np

df_hh["kita_spots"] = np.where(df_hh["kita_spots"].str.isdigit(), df_hh["kita_spots"], 0)
df_hh["plz"] = np.where(df_hh["plz"].str.isdigit(), df_hh["plz"], 0)

In [23]:
df_hh.dtypes

kita_name       object
kita_address    object
kita_spots      object
plz             object
dtype: object

In [24]:
df_hh["kita_spots"] = df_hh["kita_spots"].astype(int)
df_hh["plz"] = df_hh["plz"].astype(int)

In [25]:
df_hh.dtypes

kita_name       object
kita_address    object
kita_spots       int32
plz              int32
dtype: object

In [26]:
df_hh.to_csv(r'../data/derived/kita_data_hamburg_clean.csv')
#df_hh.to_json(r'../data/kita_data_hamburg_clean.json')

In [10]:
#from geopy.geocoders import Nominatim
#geolocator = Nominatim(user_agent="test2")

#from geopy.extra.rate_limiter import RateLimiter
#geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
#df_ber['geo_address'] = df_ber(df_ber['plz']=="10559").apply(geocode)

In [11]:
#df_ber = df_ber.dropna()
#df_ber["plz"] = df_ber["plz"].astype(float)

In [27]:
df_hh.dtypes

kita_name       object
kita_address    object
kita_spots       int32
plz              int32
dtype: object