In [19]:
import pandas as pd
pd.options.display.max_rows = 100

In [20]:
df_hh = pd.read_excel("../data/raw/ham_kita_suburb_updated.xls", index_col = [0])
df_hh = df_hh.rename(columns={"area": "stadtteil"})

In [22]:
df_kinder = pd.read_excel("../data/raw/kinder_hh_stadtteile.xlsx")
df_kinder

              area           stadtteil  under6  Unnamed: 3
0    Hamburg-Mitte    Hamburg-Altstadt     154     17768.0
1    Hamburg-Mitte           HafenCity     479         NaN
2    Hamburg-Mitte            Neustadt     675         NaN
3    Hamburg-Mitte           St. Pauli    1233         NaN
4    Hamburg-Mitte           St. Georg     509         NaN
..             ...                 ...     ...         ...
98         Harburg  Neugraben-Fischbek    2322         NaN
99         Harburg             Francop      37         NaN
100        Harburg          Neuenfelde     372         NaN
101        Harburg               Cranz      43         NaN
102  Hamburg-Mitte        Finkenwerder     698         NaN

[103 rows x 4 columns]

In [23]:
sum_area_kids = df_kinder.groupby(df_kinder["area"])["under6"].sum()
df_area_kids = sum_area_kids.reset_index()
df_area_kids

            area  under6
0         Altona   18029
1      Bergedorf    6219
2     Eimsbüttel   15836
3  Hamburg-Mitte   18466
4   Hamburg-Nord   44884
5        Harburg   11257
6       Wandsbek    2184

In [5]:
sum_area_spots = df_hh.groupby(df_hh["stadtteil"])["kita_spots"].sum()
df_area_spots = sum_area_spots.reset_index()
df_area_spots

               stadtteil  kita_spots
0             Allermoehe         130
1             Alsterdorf         370
2             Altengamme         183
3        Altona-Altstadt         717
4            Altona-Nord         441
5             Bahrenfeld        1502
6           Barmbek-Nord         414
7           Barmbek-Sued         679
8              Bergedorf         748
9              Bergstedt         170
10             Billstedt        1239
11            Billwerder         125
12            Blankenese         368
13             Borgfelde          85
14              Bramfeld         788
15                 Cranz           0
16              Curslack           0
17              Dulsberg          70
18            Duvenstedt         144
19            Eidelstedt         456
20                Eilbek         394
21           Eimsbuettel        1557
22            Eissendorf         604
23             Eppendorf         364
24         Farmsen-Berne         794
25          Finkenwerder         243
26          Fuhlsbuettel         202
27         Gross Borstel         142
28        Gross Flottbek         138
29             HafenCity         132
30                  Hamm         709
31           Hammerbrook         374
32               Harburg         246
33          Harvestehude         446
34             Hausbruch         325
35              Heimfeld         421
36          Hoheluft-Ost         108
37         Hoheluft-West         143
38            Hohenfelde          85
39                  Horn         421
40        Hummelsbuettel         272
41             Iserbrook         281
42               Jenfeld         175
43           Kirchwerder          77
44            Langenhorn         873
45  Lemsahl-Mellingstedt         164
46            Lohbruegge         372
47              Lokstedt         804
48                 Lurup         626
49            Marienthal         253
50             Marmstorf          81
51              Moorburg          60
52          Neu-Boernsen         178
53         Neuallermoehe         902
54            Neuenfelde         135
55            Neuengamme         100
56    Neugraben-Fischbek         502
57              Neustadt         284
58              Niendorf         321
59           Nienstedten         320
60          Ochsenwerder           0
61              Ohlsdorf         225
62                Osdorf         416
63           Othmarschen         304
64              Ottensen        1255
65         Poppenbuettel         446
66             Rahlstedt        1215
67                Rissen         362
68            Roenneburg         130
69        Rothenburgsort         190
70            Rotherbaum         541
71                 Sasel         441
72             Schnelsen         725
73              Sinstorf         144
74             St. Georg         400
75             St. Pauli         555
76            Steilshoop         236
77            Stellingen         472
78          Sternschanze         225
79              Tonndorf          19
80            Uhlenhorst         166
81                Veddel          80
82             Volksdorf         761
83              Wandsbek         517
84       Wellingsbuettel         127
85          Wilhelmsburg         846
86              Wilstorf         218
87            Winterhude        1400
88     Wohldorf-Ohlstedt         159

In [6]:
df_area_spots["stadtteil"] = df_area_spots['stadtteil'].str.replace('Allermoehe', 'Allermöhe', regex=False)

In [7]:
df_area_spots["stadtteil"] = df_area_spots["stadtteil"].str.replace("ae","ä",regex=False)
df_area_spots["stadtteil"] = df_area_spots["stadtteil"].str.replace("ue","ü",regex=False)
df_area_spots["stadtteil"] = df_area_spots["stadtteil"].str.replace("oe","ö",regex=False)
df_area_spots["stadtteil"] = df_area_spots["stadtteil"].str.replace("ss","ß",regex=False)
df_area_spots["stadtteil"] = df_area_spots["stadtteil"].str.replace("Neünfelde","Neuenfelde",regex=False)
df_area_spots["stadtteil"] = df_area_spots["stadtteil"].str.replace("Neüngamme","Neuengamme",regex=False)

In [8]:
df_merge = pd.merge(df_area_spots, df_kinder, on="stadtteil", how="left")
df_merge

               stadtteil  kita_spots           area  under6  Unnamed: 3
0              Allermöhe         130      Bergedorf    71.0         NaN
1             Alsterdorf         370   Hamburg-Nord   951.0         NaN
2             Altengamme         183      Bergedorf   144.0         NaN
3        Altona-Altstadt         717         Altona  1780.0         NaN
4            Altona-Nord         441         Altona  1808.0         NaN
5             Bahrenfeld        1502         Altona  2012.0         NaN
6           Barmbek-Nord         414   Hamburg-Nord  2181.0         NaN
7            Barmbek-Süd         679   Hamburg-Nord  1772.0         NaN
8              Bergedorf         748      Bergedorf  2273.0         NaN
9              Bergstedt         170   Hamburg-Nord   656.0         NaN
10             Billstedt        1239  Hamburg-Mitte  4643.0         NaN
11            Billwerder         125      Bergedorf   476.0         NaN
12            Blankenese         368         Altona   715.0         NaN
13             Borgfelde          85  Hamburg-Mitte   363.0         NaN
14              Bramfeld         788   Hamburg-Nord  2980.0         NaN
15                 Cranz           0        Harburg    43.0         NaN
16              Curslack           0      Bergedorf   319.0         NaN
17              Dulsberg          70   Hamburg-Nord   815.0         NaN
18            Duvenstedt         144   Hamburg-Nord   363.0         NaN
19            Eidelstedt         456     Eimsbüttel  2207.0         NaN
20                Eilbek         394   Hamburg-Nord  1244.0         NaN
21            Eimsbüttel        1557     Eimsbüttel  3412.0         NaN
22             Eißendorf         604        Harburg  1518.0         NaN
23             Eppendorf         364   Hamburg-Nord  1513.0         NaN
24         Farmsen-Berne         794   Hamburg-Nord  2149.0         NaN
25          Finkenwerder         243  Hamburg-Mitte   698.0         NaN
26           Fuhlsbüttel         202   Hamburg-Nord   845.0         NaN
27          Groß Borstel         142   Hamburg-Nord   525.0         NaN
28         Groß Flottbek         138         Altona   695.0         NaN
29             HafenCity         132  Hamburg-Mitte   479.0         NaN
30                  Hamm         709  Hamburg-Mitte  2011.0         NaN
31           Hammerbrook         374  Hamburg-Mitte   236.0         NaN
32               Harburg         246        Harburg  1692.0         NaN
33          Harvestehude         446     Eimsbüttel  1014.0         NaN
34             Hausbruch         325        Harburg  1106.0         NaN
35              Heimfeld         421        Harburg  1423.0         NaN
36          Hoheluft-Ost         108   Hamburg-Nord   624.0         NaN
37         Hoheluft-West         143     Eimsbüttel   756.0         NaN
38            Hohenfelde          85   Hamburg-Nord   611.0         NaN
39                  Horn         421  Hamburg-Mitte  2313.0         NaN
40         Hummelsbüttel         272   Hamburg-Nord  1115.0         NaN
41             Iserbrook         281         Altona   707.0         NaN
42               Jenfeld         175   Hamburg-Nord  1880.0         NaN
43           Kirchwerder          77      Bergedorf   604.0         NaN
44            Langenhorn         873   Hamburg-Nord  3030.0         NaN
45  Lemsahl-Mellingstedt         164   Hamburg-Nord   454.0         NaN
46             Lohbrügge         372       Wandsbek  2184.0         NaN
47              Lokstedt         804     Eimsbüttel  1877.0         NaN
48                 Lurup         626         Altona  2614.0         NaN
49            Marienthal         253   Hamburg-Nord   767.0         NaN
50             Marmstorf          81        Harburg   471.0         NaN
51              Moorburg          60        Harburg    60.0         NaN
52           Neu-Börnsen         178            NaN     NaN         NaN
53          Neuallermöhe         902      Bergedorf  1771.0         NaN
54            Neuenfelde         135        Harburg   372.0         NaN
55            Neuengamme         100      Bergedorf   218.0         NaN
56    Neugraben-Fischbek         502        Harburg  2322.0         NaN
57              Neustadt         284  Hamburg-Mitte   675.0         NaN
58              Niendorf         321     Eimsbüttel  2157.0         NaN
59           Nienstedten         320         Altona   364.0         NaN
60          Ochsenwerder           0      Bergedorf   220.0         NaN
61              Ohlsdorf         225   Hamburg-Nord  1068.0         NaN
62                Osdorf         416         Altona  1810.0         NaN
63           Othmarschen         304         Altona  1200.0         NaN
64              Ottensen        1255         Altona  2281.0         NaN
65          Poppenbüttel         446   Hamburg-Nord  1312.0         NaN
66             Rahlstedt        1215   Hamburg-Nord  5724.0         NaN
67                 Rißen         362            NaN     NaN         NaN
68             Rönneburg         130        Harburg   211.0         NaN
69        Rothenburgsort         190  Hamburg-Mitte   583.0         NaN
70            Rotherbaum         541     Eimsbüttel   900.0         NaN
71                 Sasel         441   Hamburg-Nord  1384.0         NaN
72             Schnelsen         725     Eimsbüttel  1892.0         NaN
73              Sinstorf         144        Harburg   408.0         NaN
74             St. Georg         400  Hamburg-Mitte   509.0         NaN
75             St. Pauli         555  Hamburg-Mitte  1233.0         NaN
76            Steilshoop         236   Hamburg-Nord  1340.0         NaN
77            Stellingen         472     Eimsbüttel  1621.0         NaN
78          Sternschanze         225         Altona   526.0         NaN
79              Tonndorf          19   Hamburg-Nord   982.0         NaN
80            Uhlenhorst         166   Hamburg-Nord  1169.0         NaN
81                Veddel          80  Hamburg-Mitte   296.0         NaN
82             Volksdorf         761   Hamburg-Nord  1135.0         NaN
83              Wandsbek         517   Hamburg-Nord  2108.0         NaN
84        Wellingsbüttel         127   Hamburg-Nord   623.0         NaN
85          Wilhelmsburg         846  Hamburg-Mitte  4021.0         NaN
86              Wilstorf         218        Harburg  1248.0         NaN
87            Winterhude        1400   Hamburg-Nord  3278.0         NaN
88     Wohldorf-Ohlstedt         159   Hamburg-Nord   286.0         NaN

In [9]:
sum_merge_area = df_merge.groupby(df_merge["area"])["kita_spots", "under6"].sum()
df_merge2 = sum_merge_area.reset_index()
df_merge2

            area  kita_spots   under6
0         Altona        6593  16512.0
1      Bergedorf        2265   6096.0
2     Eimsbüttel        5465  15836.0
3  Hamburg-Mitte        5558  18060.0
4   Hamburg-Nord       12173  44884.0
5        Harburg        2866  10874.0
6       Wandsbek         372   2184.0

In [10]:
df_merge2["diff"] = df_merge2.under6-df_merge2.kita_spots
df_merge2["kids_per_spot"] = df_merge2.under6/df_merge2.kita_spots
#df_sums_all = df_sums_all.dropna()
df_merge2

            area  kita_spots   under6     diff  kids_per_spot
0         Altona        6593  16512.0   9919.0       2.504474
1      Bergedorf        2265   6096.0   3831.0       2.691391
2     Eimsbüttel        5465  15836.0  10371.0       2.897713
3  Hamburg-Mitte        5558  18060.0  12502.0       3.249370
4   Hamburg-Nord       12173  44884.0  32711.0       3.687177
5        Harburg        2866  10874.0   8008.0       3.794138
6       Wandsbek         372   2184.0   1812.0       5.870968

In [11]:
df_merge2["prct_missing"] = df_merge2["diff"]/df_merge2["under6"]

In [12]:
df_merge["diff"] = df_merge.under6-df_merge.kita_spots
df_merge["kids_per_spot"] = df_merge.under6/df_merge.kita_spots
#df_sums_all = df_sums_all.dropna()
df_merge

,stadtteil,kita_spots,area,under6,Unnamed: 3,diff,kids_per_spot
0,Allermöhe,130,Bergedorf,71.0,NaN,-59.0,0.546154
1,Alsterdorf,370,Hamburg-Nord,951.0,NaN,581.0,2.570270
2,Altengamme,183,Bergedorf,144.0,NaN,-39.0,0.786885
3,Altona-Altstadt,717,Altona,1780.0,NaN,1063.0,2.482566
4,Altona-Nord,441,Altona,1808.0,NaN,1367.0,4.099773
5,Bahrenfeld,1502,Altona,2012.0,NaN,510.0,1.339547
6,Barmbek-Nord,414,Hamburg-Nord,2181.0,NaN,1767.0,5.268116
7,Barmbek-Süd,679,Hamburg-Nord,1772.0,NaN,1093.0,2.609720
8,Bergedorf,748,Bergedorf,2273.0,NaN,1525.0,3.038770
9,Bergstedt,170,Hamburg-Nord,656.0,NaN,486.0,3.858824
10,Billstedt,1239,Hamburg-Mitte,4643.0,NaN,3404.0,3.747377
11,Billwerder,125,Bergedorf,476.0,NaN,351.0,3.808000
12,Blankenese,368,Altona,715.0,NaN,347.0,1.942935
13,Borgfelde,85,Hamburg-Mitte,363.0,NaN,278.0,4.270588
14,Bramfeld,788,Hamburg-Nord,2980.0,NaN,2192.0,3.781726
15,Cranz,0,Harburg,43.0,NaN,43.0,inf
16,Curslack,0,Bergedorf,319.0,NaN,319.0,inf
17,Dulsberg,70,Hamburg-Nord,815.0,NaN,745.0,11.642857
18,Duvenstedt,144,Hamburg-Nord,363.0,NaN,219.0,2.520833
19,Eidelstedt,456,Eimsbüttel,2207.0,NaN,1751.0,4.839912
20,Eilbek,394,Hamburg-Nord,1244.0,NaN,850.0,3.157360
21,Eimsbüttel,1557,Eimsbüttel,3412.0,NaN,1855.0,2.191394
22,Eißendorf,604,Harburg,1518.0,NaN,914.0,2.513245
23,Eppendorf,364,Hamburg-Nord,1513.0,NaN,1149.0,4.156593
24,Farmsen-Berne,794,Hamburg-Nord,2149.0,NaN,1355.0,2.706549
25,Finkenwerder,243,Hamburg-Mitte,698.0,NaN,455.0,2.872428
26,Fuhlsbüttel,202,Hamburg-Nord,845.0,NaN,643.0,4.183168
27,Groß Borstel,142,Hamburg-Nord,525.0,NaN,383.0,3.697183
28,Groß Flottbek,138,Altona,695.0,NaN,557.0,5.036232
29,HafenCity,132,Hamburg-Mitte,479.0,NaN,347.0,3.628788
30,Hamm,709,Hamburg-Mitte,2011.0,NaN,1302.0,2.836389
31,Hammerbrook,374,Hamburg-Mitte,236.0,NaN,-138.0,0.631016
32,Harburg,246,Harburg,1692.0,NaN,1446.0,6.878049
33,Harvestehude,446,Eimsbüttel,1014.0,NaN,568.0,2.273543
34,Hausbruch,325,Harburg,1106.0,NaN,781.0,3.403077
35,Heimfeld,421,Harburg,1423.0,NaN,1002.0,3.380048
36,Hoheluft-Ost,108,Hamburg-Nord,624.0,NaN,516.0,5.777778
37,Hoheluft-West,143,Eimsbüttel,756.0,NaN,613.0,5.286713
38,Hohenfelde,85,Hamburg-Nord,611.0,NaN,526.0,7.188235
39,Horn,421,Hamburg-Mitte,2313.0,NaN,1892.0,5.494062
40,Hummelsbüttel,272,Hamburg-Nord,1115.0,NaN,843.0,4.099265
41,Iserbrook,281,Altona,707.0,NaN,426.0,2.516014
42,Jenfeld,175,Hamburg-Nord,1880.0,NaN,1705.0,10.742857
43,Kirchwerder,77,Bergedorf,604.0,NaN,527.0,7.844156
44,Langenhorn,873,Hamburg-Nord,3030.0,NaN,2157.0,3.470790
45,Lemsahl-Mellingstedt,164,Hamburg-Nord,454.0,NaN,290.0,2.768293
46,Lohbrügge,372,Wandsbek,2184.0,NaN,1812.0,5.870968
47,Lokstedt,804,Eimsbüttel,1877.0,NaN,1073.0,2.334577
48,Lurup,626,Altona,2614.0,NaN,1988.0,4.175719
49,Marienthal,253,Hamburg-Nord,767.0,NaN,514.0,3.031621
50,Marmstorf,81,Harburg,471.0,NaN,390.0,5.814815
51,Moorburg,60,Harburg,60.0,NaN,0.0,1.000000
52,Neu-Börnsen,178,NaN,NaN,NaN,NaN,NaN
53,Neuallermöhe,902,Bergedorf,1771.0,NaN,869.0,1.963415
54,Neuenfelde,135,Harburg,372.0,NaN,237.0,2.755556
55,Neuengamme,100,Bergedorf,218.0,NaN,118.0,2.180000
56,Neugraben-Fischbek,502,Harburg,2322.0,NaN,1820.0,4.625498
57,Neustadt,284,Hamburg-Mitte,675.0,NaN,391.0,2.376761
58,Niendorf,321,Eimsbüttel,2157.0,NaN,1836.0,6.719626
59,Nienstedten,320,Altona,364.0,NaN,44.0,1.137500
60,Ochsenwerder,0,Bergedorf,220.0,NaN,220.0,inf
61,Ohlsdorf,225,Hamburg-Nord,1068.0,NaN,843.0,4.746667
62,Osdorf,416,Altona,1810.0,NaN,1394.0,4.350962
63,Othmarschen,304,Altona,1200.0,NaN,896.0,3.947368
64,Ottensen,1255,Altona,2281.0,NaN,1026.0,1.817530
65,Poppenbüttel,446,Hamburg-Nord,1312.0,NaN,866.0,2.941704
66,Rahlstedt,1215,Hamburg-Nord,5724.0,NaN,4509.0,4.711111
67,Rißen,362,NaN,NaN,NaN,NaN,NaN
68,Rönneburg,130,Harburg,211.0,NaN,81.0,1.623077
69,Rothenburgsort,190,Hamburg-Mitte,583.0,NaN,393.0,3.068421
70,Rotherbaum,541,Eimsbüttel,900.0,NaN,359.0,1.663586
71,Sasel,441,Hamburg-Nord,1384.0,NaN,943.0,3.138322
72,Schnelsen,725,Eimsbüttel,1892.0,NaN,1167.0,2.609655
73,Sinstorf,144,Harburg,408.0,NaN,264.0,2.833333
74,St. Georg,400,Hamburg-Mitte,509.0,NaN,109.0,1.272500
75,St. Pauli,555,Hamburg-Mitte,1233.0,NaN,678.0,2.221622
76,Steilshoop,236,Hamburg-Nord,1340.0,NaN,1104.0,5.677966
77,Stellingen,472,Eimsbüttel,1621.0,NaN,1149.0,3.434322
78,Sternschanze,225,Altona,526.0,NaN,301.0,2.337778
79,Tonndorf,19,Hamburg-Nord,982.0,NaN,963.0,51.684211
80,Uhlenhorst,166,Hamburg-Nord,1169.0,NaN,1003.0,7.042169
81,Veddel,80,Hamburg-Mitte,296.0,NaN,216.0,3.700000
82,Volksdorf,761,Hamburg-Nord,1135.0,NaN,374.0,1.491459
83,Wandsbek,517,Hamburg-Nord,2108.0,NaN,1591.0,4.077369
84,Wellingsbüttel,127,Hamburg-Nord,623.0,NaN,496.0,4.905512
85,Wilhelmsburg,846,Hamburg-Mitte,4021.0,NaN,3175.0,4.752955
86,Wilstorf,218,Harburg,1248.0,NaN,1030.0,5.724771
87,Winterhude,1400,Hamburg-Nord,3278.0,NaN,1878.0,2.341429
88,Wohldorf-Ohlstedt,159,Hamburg-Nord,286.0,NaN,127.0,1.798742

In [13]:
f_labor_force = [52.8, 56.7, 58.1, 52.0, 61.7, 52.0, 56.1]

In [14]:
df_merge2["women_labor_percent"]=f_labor_force

In [15]:
df_merge["prct_missing"] = df_merge["diff"]/df_merge["under6"]

In [16]:
df_merge.to_csv("../data/derived/calc_data_hh.csv")

In [17]:
df_merge2.to_csv("../data/derived/calc_data_hh_area.csv")

In [18]:
df_merge2

,area,kita_spots,under6,diff,kids_per_spot,prct_missing,women_labor_percent
0,Altona,6593,16512.0,9919.0,2.504474,0.600715,52.8
1,Bergedorf,2265,6096.0,3831.0,2.691391,0.628445,56.7
2,Eimsbüttel,5465,15836.0,10371.0,2.897713,0.654900,58.1
3,Hamburg-Mitte,5558,18060.0,12502.0,3.249370,0.692248,52.0
4,Hamburg-Nord,12173,44884.0,32711.0,3.687177,0.728790,61.7
5,Harburg,2866,10874.0,8008.0,3.794138,0.736436,52.0
6,Wandsbek,372,2184.0,1812.0,5.870968,0.829670,56.1