In [1]:
import pandas as pd

In [6]:
df_hh = pd.read_csv("../data/kita_data_hamburg_clean.csv", index_col=[0])

In [307]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")
location = geolocator.geocode("22769 Hamburg, Eimsbütteler Straße 39")
location

Location(Türkisch - deutscher Kindergarten, 39, Eimsbütteler Straße, Altona-Nord, Altona, Hamburg, 22769, Deutschland, (53.5648493, 9.9571466, 0.0))

In [393]:
def get_lat_lng(address):
    locator = Nominatim(user_agent='myGeocoder')
    if address is not None:
        location = locator.geocode(address, timeout=1000)
        try:
            result = location.address
        except:
            result = None
    else:
        result = None
    
    return result

In [66]:
kita_address = df_hh['kita_address'].tolist()
len(kita_address)

1060

In [67]:
addresses1 = [get_lat_lng(address) for address in kita_address[0:500]]

In [68]:
addresses2 = [get_lat_lng(address) for address in kita_address[500:1060]]

In [69]:
geo = addresses1 + addresses2

In [375]:
type(geo)
type(geo[0])
#df_hh["geo"] = geo

len(geo)

geo[320].split(",")[-4]

' Hamburg-Mitte'

In [376]:
area = []
for address in geo:
    try:
        area.append(str(address).split(",")[-4])
    except IndexError: 
        area.append("null")

In [377]:
stadtteil = []
for address in geo:
    try:
        stadtteil.append(str(address).split(",")[-5])
    except IndexError: 
        stadtteil.append("null")

In [378]:
df_hh["area"] = area
df_hh["stadtteil"] = stadtteil

In [379]:
df_hh

,kita_name,kita_address,kita_spots,plz,area,stadtteil
0,kindertagesstätte `die zipfelmützen´,"20097 Hamburg, Friesenstraße 13",94,20097,Hamburg-Mitte,Hammerbrook
1,kindertagesstätte ´city süd rabauken`,"20097 Hamburg, Friesenstraße 1",80,20097,Hamburg-Mitte,Hammerbrook
2,kinderzimmer city süd,"20097 Hamburg, Amsinckstraße 61",100,20097,Hamburg-Mitte,Hammerbrook
3,bilinguale kindertagesstätte phorminis hamburg,"20097 Hamburg, Wendenstraße 35-43",100,20097,Hamburg-Mitte,Hammerbrook
4,kinderzimmer hammerbrook,"20097 Hamburg, Hammerbrookstraße 63-65",0,20097,Hamburg-Mitte,St. Georg
...,...,...,...,...,...,...
1055,kita schmuddelkinder `babyhaus´,"22769 Hamburg, Heinrichstraße 19",30,22769,Eimsbüttel,Heinrichstraße
1056,türkisch-deutscher kindergarten,"22769 Hamburg, Eimsbütteler Straße 39",52,22769,Altona,Altona-Nord
1057,kita villa wackelzahn,"22769 Hamburg, Waterloostraße 6",0,22769,Eimsbüttel,Waterloostraße
1058,lorenzini kunst-kita (stresemannstrasse),"22769 Hamburg, Stresemannstrasse 52",90,22769,Hamburg-Mitte,St. Pauli
1059,lorenzini kunst-kita (krippe),"22769 Hamburg, Sommerhuder Straße 35a",30,22769,Altona,Altona-Nord

In [380]:
df_kinder = pd.read_excel("../data/kinder_hh_stadtteile.xlsx")

In [318]:
#df_merge = pd.merge(df_hh, df_kinder, on="stadtteil", how="left")

In [374]:
#df_hh["area"] = df_hh['area'].str.replace('Hamburg', 'Hamburg-Mitte', regex=False)

In [381]:
sum_area_spots = df_hh.groupby(df_hh["area"])["kita_spots"].sum()
df_area_spots = sum_area_spots.reset_index()
df_area_spots

                    area  kita_spots
0                 Altona        6437
1              Bergedorf        2383
2             Billwerder         125
3             Eimsbüttel        5393
4                Hamburg          40
5          Hamburg-Mitte        5473
6           Hamburg-Nord        5098
7                Harburg        2866
8    Herzogtum Lauenburg         273
9               Stormarn          94
10              Wandsbek        7119
11                  null         625

In [383]:
sum_stadtteil_spots = df_hh.groupby(df_hh["stadtteil"])["kita_spots"].sum()
df_stadtteil_spots = sum_stadtteil_spots.reset_index()
df_stadtteil_spots(head)

            stadtteil  kita_spots
0       Alardusstraße          44
1           Allermöhe         130
2          Alsterdorf         592
3          Altengamme          88
4              Altona          40
..                ...         ...
172     Schäferstraße          24
173   Tornquiststraße           0
174       Weidenallee           0
175  Zitadellenstraße          70
176              null         625

[177 rows x 2 columns]

In [384]:
df_stadtteil_spots['stadtteil'] = df_stadtteil_spots['stadtteil'].str.strip()

In [385]:
df_kinder["stadtteil"]=df_kinder["stadtteil"].str.strip()

In [386]:
df_stadtteil_spots["stadtteil"] = df_stadtteil_spots['stadtteil'].str.replace('Altona', 'Altona-Altstadt', regex=False)

In [351]:
df_merge_st = pd.merge(df_stadtteil_spots, df_kinder, on="stadtteil", how="left")

In [1]:
df_merge_st(head)

NameError: name 'df_merge_st' is not defined