In [2]:
import pandas as pd

create data for kids 1-6 per Area 
from: https://www.statistik-berlin-brandenburg.de/webapi/jsf/tableView/tableView.xhtml

In [3]:
data = {"area" : ["Mitte",
                  "Friedrichsh.-Kreuzb.", 
                  "Pankow", 
                  "Charlbg.-Wilmersd.", 
                  "Spandau",
                  "Steglitz-Zehlend.", 
                  "Tempelh.-Schöneb.", 
                  "Neukölln", 
                  "Treptow-Köpenick",
                  "Marzahn-Hellersd.",
                  "Lichtenberg", 
                  "Reinickendorf"], 
        "under6": [19305, 
                   15097,
                   23246,
                   13567,
                   12662,
                   13363,
                   16546,
                   17040,
                   13798,
                   14625,
                   16108,
                   13148]}

In [4]:
df_area_kids = pd.DataFrame.from_dict(data)

### Summing Spots by Area

In [17]:
df_ber = pd.read_csv("../data/raw/kitaliste.csv", index_col=[0])

In [18]:
sum_all_spots = df_ber.groupby(df_ber["area"])["kita_spots"].sum()

In [19]:
df_all_spots = sum_all_spots.reset_index()
df_all_spots

                    area  kita_spots
0     Charlbg.-Wilmersd.     12691.0
1   Friedrichsh.-Kreuzb.     15876.0
2            Lichtenberg     16039.0
3      Marzahn-Hellersd.     13570.0
4                  Mitte     20831.0
5               Neukölln     14833.0
6                 Pankow     24511.0
7          Reinickendorf     11213.0
8                Spandau     11289.0
9      Steglitz-Zehlend.     13276.0
10     Tempelh.-Schöneb.     16238.0
11      Treptow-Köpenick     13200.0

In [20]:
sum_spots = df_ber.groupby(df_ber["plz"])["kita_spots"].sum()

In [21]:
df_spots = sum_spots.reset_index()

### Summing Spots by PLZ

In [41]:
df_kinder = pd.read_csv(r'../data/derived/kids_ber_19.csv', index_col=[0])

In [42]:
sum_kids = df_kinder.groupby(['plz'], group_keys=False)['under6'].sum()
df_kids = sum_kids.reset_index()

### Merging

In [24]:
df_sums_all = pd.merge(df_all_spots, df_area_kids, on="area", how="left")

In [25]:
df_sums_all

                    area  kita_spots  under6
0     Charlbg.-Wilmersd.     12691.0   13567
1   Friedrichsh.-Kreuzb.     15876.0   15097
2            Lichtenberg     16039.0   16108
3      Marzahn-Hellersd.     13570.0   14625
4                  Mitte     20831.0   19305
5               Neukölln     14833.0   17040
6                 Pankow     24511.0   23246
7          Reinickendorf     11213.0   13148
8                Spandau     11289.0   12662
9      Steglitz-Zehlend.     13276.0   13363
10     Tempelh.-Schöneb.     16238.0   16546
11      Treptow-Köpenick     13200.0   13798

In [26]:
df_sums_all["diff"] = df_sums_all.under6-df_sums_all.kita_spots
df_sums_all["kids_per_spot"] = df_sums_all.under6/df_sums_all.kita_spots
#df_sums_all = df_sums_all.dropna()
df_sums_all

                    area  kita_spots  under6    diff  kids_per_spot
0     Charlbg.-Wilmersd.     12691.0   13567   876.0       1.069025
1   Friedrichsh.-Kreuzb.     15876.0   15097  -779.0       0.950932
2            Lichtenberg     16039.0   16108    69.0       1.004302
3      Marzahn-Hellersd.     13570.0   14625  1055.0       1.077745
4                  Mitte     20831.0   19305 -1526.0       0.926744
5               Neukölln     14833.0   17040  2207.0       1.148790
6                 Pankow     24511.0   23246 -1265.0       0.948391
7          Reinickendorf     11213.0   13148  1935.0       1.172568
8                Spandau     11289.0   12662  1373.0       1.121623
9      Steglitz-Zehlend.     13276.0   13363    87.0       1.006553
10     Tempelh.-Schöneb.     16238.0   16546   308.0       1.018968
11      Treptow-Köpenick     13200.0   13798   598.0       1.045303

In [27]:
df_sums = pd.merge(df_spots, df_kids, on="plz", how="left")

In [28]:
df_sums["diff"] = df_sums.under6-df_sums.kita_spots

In [29]:
df_sums["kids_per_spot"] = df_sums.under6/df_sums.kita_spots
df_sums = df_sums.dropna()
df_sums

       plz  kita_spots  under6    diff  kids_per_spot
0    10115      1808.0    1837    29.0       1.016040
1    10117      1550.0    1219  -331.0       0.786452
2    10119      1226.0     263  -963.0       0.214519
3    10178       560.0    1962  1402.0       3.503571
4    10179       928.0    1173   245.0       1.264009
..     ...         ...     ...     ...            ...
185  14169       486.0     184  -302.0       0.378601
186  14193       792.0    2984  2192.0       3.767677
187  14195      1222.0    1903   681.0       1.557283
188  14197       627.0    2833  2206.0       4.518341
189  14199       337.0    1077   740.0       3.195846

[190 rows x 5 columns]

In [44]:
df_sums.to_csv("../data/derived/calculated_data_plz.csv")

#### Adding female labor force info

In [43]:
df_labor_force = pd.read_excel('../data/raw/frauenerwerbsquote.xlsx')

In [45]:
df_labor_force = df_labor_force.rename(columns={"Bezirk": "area", "Erwerbsquote": "women_labor_prct"})

In [46]:
df_labor_force.to_csv("../data/derived/frauenerwerbsquote.csv")

In [47]:
df_sums_all2 = pd.merge(df_sums_all, df_labor_force, on="area", how="left")
df_sums_all2

,area,kita_spots,under6,diff,kids_per_spot,women_labor_prct
0,Charlbg.-Wilmersd.,12691.0,13567,876.0,1.069025,72.2
1,Friedrichsh.-Kreuzb.,15876.0,15097,-779.0,0.950932,80.1
2,Lichtenberg,16039.0,16108,69.0,1.004302,77.1
3,Marzahn-Hellersd.,13570.0,14625,1055.0,1.077745,75.8
4,Mitte,20831.0,19305,-1526.0,0.926744,69.7
5,Neukölln,14833.0,17040,2207.0,1.148790,68.8
6,Pankow,24511.0,23246,-1265.0,0.948391,82.2
7,Reinickendorf,11213.0,13148,1935.0,1.172568,69.5
8,Spandau,11289.0,12662,1373.0,1.121623,66.4
9,Steglitz-Zehlend.,13276.0,13363,87.0,1.006553,75.5
10,Tempelh.-Schöneb.,16238.0,16546,308.0,1.018968,74.0
11,Treptow-Köpenick,13200.0,13798,598.0,1.045303,81.0

In [48]:
df_sums_all2.to_csv("../data/derived/calc_data_area.csv")

In [49]:
### Trying Geolocator to get excact Area Code

pd.read_csv("../data/raw/kitaliste.csv")

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")
location = geolocator.geocode("10318 Berlin, Lehndorffstr. 11")
location

Location(11, Lehndorffstraße, Prinzenviertel, Karlshorst, Lichtenberg, Berlin, 10318, Deutschland, (52.48120575, 13.520460330448065, 0.0))

In [38]:
def get_lat_lng(address):
    locator = geopy.Nominatim(user_agent='myGeocoder',
                             format_string="%s, Berlin, Deutschland")

    if address is not None:
        location = locator.geocode(address, timeout=1000)
        try:
            result = location.address
        except:
            result = None
    else:
        result = None
    
    return result

In [439]:
kita_address = df_ber['kita_address'].tolist()
len(kita_address)

2715

In [440]:
addresses1 = [get_lat_lng(address) for address in kita_address[0:500]]

In [445]:
addresses2 = [get_lat_lng(address) for address in kita_address[500:1000]]

In [447]:
addresses3 = [get_lat_lng(address) for address in kita_address[1000:1500]]

In [443]:
addresses4 = [get_lat_lng(address) for address in kita_address[1500:2000]]

In [448]:
addresses5 = [get_lat_lng(address) for address in kita_address[2000:2500]]

In [460]:
addresses6= [get_lat_lng(address) for address in kita_address[2500:2715]]

In [462]:
geo = addresses1+addresses2+addresses3+addresses4+addresses5+addresses6
len(geo)

2715

In [450]:
#geo_df = pd.DataFrame(geo) 
#geo_df
#geo.str.split(expand=True)

geo[600].split(",")[-4]

' Friedrichshain-Kreuzberg'

In [549]:
stadtteil = []
for address in geo:
    try:
        stadtteil.append(str(address).split(",")[-5])
    except IndexError: 
        stadtteil.append("null")

In [550]:
area = []
for address in geo:
    try:
        area.append(str(address).split(",")[-4])
    except IndexError: 
        area.append("null")

In [551]:
type(area[1])

str

In [40]:
df_ber["area"] = area
df_ber["stadtteil"] = stadtteil

NameError: name 'area' is not defined

In [39]:
df_ber["area"].unique()

array(['Mitte', 'Friedrichsh.-Kreuzb.', 'Pankow', 'Charlbg.-Wilmersd.',
       'Spandau', 'Steglitz-Zehlend.', 'Tempelh.-Schöneb.', 'Neukölln',
       'Treptow-Köpenick', 'Marzahn-Hellersd.', 'Lichtenberg',
       'Reinickendorf'], dtype=object)