In [21]:
import pandas as pd

In [22]:
df_kinder = pd.read_excel('../data/raw/kids_ber_19_plz.xlsx')

In [23]:
df_kinder

     Postleitzahl                      Bezirk  unter 6
0             NaN                         NaN      NaN
1             NaN                         NaN      NaN
2         10115.0                       Mitte   1837.0
3         10585.0  Charlottenburg-Wilmersdorf    852.0
4         10587.0  Charlottenburg-Wilmersdorf   1019.0
..            ...                         ...      ...
221       12555.0            Treptow-Köpenick    785.0
222       12557.0            Treptow-Köpenick    783.0
223       12559.0            Treptow-Köpenick     19.0
224       12587.0            Treptow-Köpenick     60.0
225       12589.0            Treptow-Köpenick    737.0

[226 rows x 3 columns]

In [24]:
df_kinder = df_kinder.dropna()

In [25]:
df_kinder.dtypes

Postleitzahl    float64
Bezirk           object
unter 6         float64
dtype: object

In [26]:
df_kinder = df_kinder.rename(columns={"Postleitzahl":"plz", "Bezirk":"area", "unter 6":"under6"})

In [27]:
df_kinder["plz"] = df_kinder["plz"].astype(int)
df_kinder["under6"] = df_kinder["under6"].astype(int)

In [28]:
df_kinder.loc[df_kinder["under6"]==0]

import numpy as np

df_kinder = df_kinder.replace(0, np.nan)

In [29]:
df_kinder = df_kinder.dropna()

In [30]:
df_kinder["under6"] = df_kinder["under6"].astype(int)

In [31]:
df_kinder.nunique()

plz       190
area       12
under6    215
dtype: int64

In [33]:
df_kinder.to_csv(r'../data/derived/kids_ber_19.csv')